<footer class="p-5">
    <span id="footer-text">Shadow Monarch site is created for educational purpose, It is a website created to phish facebook, twitter,
        instagram, tiktok, microsoft, amazon and other social media accounts.

        It is a project done for educational purpose, I won't be responsible for illegal act done with this site!!!!


        (The website is till on development!!!)

        and I'm currently working on the admin panel authentification of the app.

        Happy Hacking!!!
    </span>
</footer>
<!--Where the design script is located-->
<!--Connecting to bootstrap js script-->
<script src="./bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
<script src="./js/index.js"></script>
</body>

</html>