<div class="navbar-nav ms-lg-auto">
    <% if (user) { %>
        <span class="me-lg-3 fs-5 border border-1 px-2 py-1 rounded">Welcome, 
        <span class="text-success">
            <%- user.email -%>
        </span>
    </span>
        <a class="nav-link btn" href="/logout">Logout</a>
    <% } %>
</div>
</div>
</div>
</nav>