<%- include('partials/header'); -%>
    <%- include('partials/entryHeader'); -%>
        <%- include('partials/loginEntryLinking'); -%>

            <section id="login" class="my-3 d-lg-flex justify-content-center align-items-center flex-column">
                <h1 class="text-center">Login</h1>
                <form class="d-flex flex-column px-1 px-sm-3 p-lg-0" id="loginForm">
                    <label>Email: </label>
                    <input type="email" class="mb-3 form-control" name="email" required/>

                    <label>Password: </label>
                    <input type="password" class="mb-3 form-control" name="password" required />

                    <button class="btn btn-primary">Login</button>
                </form>
            </section>

            <script>
                const form = document.getElementById("loginForm");
                form.addEventListener("submit", (e) => {
                    e.preventDefault();
                    const email = form.email.value;
                    const password = form.password.value;
                    console.log(email, password);
                });
            </script>

            <%- include('partials/footer'); -%>