<%- include('partials/header'); -%>
    <%- include('partials/entryHeader'); -%>
    <%- include('partials/loginEntryLinking'); -%>

        <section id="login" class="my-3 d-lg-flex justify-content-center align-items-center">
            <h1>Login</h1>
        </section>

<%- include('partials/footer'); -%>