<%- include('partials/header'); -%>
    <%- include('partials/entryHeader'); -%>
        <%- include('partials/signupEntryLinking'); -%>

            <section id="signup" class="my-3 d-lg-flex justify-content-center align-items-center flex-column">
                <h1>Sign Up</h1>
                <form class="d-flex flex-column">
                    <label>Email: </label>
                    <input type="email" class="mb-3 form-control" name="email" />

                    <label>Password: </label>
                    <input type="password" class="mb-3 form-control" name="password" />

                    <button class="btn btn-primary">Login</button>
                </form>
            </section>

            <%- include('partials/footer'); -%>